<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ceg_Elasticsuite" setup_version="0.1.0">
        <sequence>
            <module name="Smile_ElasticsuiteCore"/>
            <module name="Smile_ElasticsuiteCatalog"/>
        </sequence>
    </module>
</config>
