<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ceg_Core::menu_index" >
                    <resource id="Ceg_Core::ceg_config">
                        <resource id="Ceg_BitrixIntegration::settings" title="Bitrix Integration" translate="title" sortOrder="24" />
                    </resource>
                    <resource id="Ceg_BitrixIntegration::bitrix" title="Bitrix" translate="title" sortOrder="50">
                        <resource id="Ceg_BitrixIntegration::bitrix_queue" title="Bitrix Queue" translate="title" sortOrder="10">
                        </resource>
                    </resource>

                </resource>
            </resource>
        </resources>
    </acl>
</config>
