<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ceg_save_order_quote_in_bitrix_queue">
        <observer name="SaveOrderInQueue" instance="Ceg\BitrixIntegration\Observer\SaveOrderInQueue"/>
    </event>
</config>
