<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <preference for="Vhl\Catalog\Block\Product\View\GroupedSimpleLayout" type="Perficient\FinancialAid\Block\Rewrite\Product\View\GroupedSimpleLayout" />
</config>