<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ceg>
            <apps>
                <billing_url>https://billing.comprandoengrupo.com/</billing_url>
                <billing_title>Solicitudes</billing_title>
            </apps>
        </ceg>
    </default>
</config>
