<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">

	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
                <resource id="Ceg_Core::menu_index">
                    <resource id="Ceg_StagingSchedule::staging_schedule" title="Staging Schedule" sortOrder="40">
                        <resource id="Ceg_StagingSchedule::staging_schedule_view" title="View schedules" sortOrder="10"/>
                    </resource>
                </resource>
			</resource>
		</resources>
	</acl>
</config>
