<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ceg_after_cancel_parent_quote">
        <observer name="ceg_orders_integration_after_cancel_parent_quote"
                  instance="Ceg\OrdersIntegration\Observer\AfterCancelParentQuote" />
    </event>
</config>
