<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\User\Block\User\Edit\Tabs" type="Ceg\UserRole\Block\User\Edit\Tabs"/>
    <type name="Magento\Framework\Authorization">
        <plugin name="Authorization" type="Ceg\UserRole\Plugin\Authorization"/>
    </type>
</config>
